@model SkillDetail
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Edit SkillDetail</h3></div>
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="id">Id</label>
                                <input asp-for="ID" type="number" class="form-control" placeholder="enter" disabled="disabled" />
                            </div>
                            <div class="form mb-3 mb-md-3">
                                <select asp-for="SkillID" class="rounded-2 p-2" style="border: 1px solid #d1d3e2">
                                    <option value="SkillID">Skill</option>
                                    @foreach (var item in ViewData["Skills"] as IEnumerable<Skill>)
                                    {
                                        <option value="@item.ID">@item.Name</option>
                                    }
                                </select>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <div class="form mb-3 mb-md-3">
                                        <label for="inputFirstName">Skill Point</label>
                                        <input asp-for="Level" type="number" class="form-control" placeholder="enter Point" />
                                    </div>
                                </div>
                            </div>
                            <div class="mt-4 mb-0">
                                <button type="submit" class="btn btn-success">Save</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

